@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap');


/*************************************************************
  HEADER
**************************************************************/
header {
  position: relative;
  min-height: 100vh;
  width: 100%;
  transform-style: inherit;
  z-index: -1;
}

header::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  display: block;
  background: url(../images/abtme_bg.png) top center;
  background-size: cover;
  transform: translateZ(-1px) scale(2.1);
  min-height: 100%;
  z-index: -2;
}

header{
  padding-top: 20px;
  display: block;
}

h1{
  color: #2471A3;
  font-family: Trajan Pro,Cinzel,Arial,Serif,San-Serif;
  font-size: 63px;
  padding: 5px;
  padding-bottom: 18px;
  padding-left: 750px;
  display: inline-block;
  cursor: context-menu;

}

.h1one{
  color: #fff;
  margin: 0;
}

.h1two{
  color: #fff;
  margin: 0;
}

.dropbtn {
  background-color: #fff;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-family: Bahnschrift;
}

.dropdown {
  position: relative;
  display: inline-block;
  float: right;
  padding-right: 80px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F7F9F9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition-duration: 2s;
  margin: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: bold;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: #2980B9;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #C0392B;
  color: white;
}


/*************************************************************
  SECTIONS
**************************************************************/
section {
  position: relative;
  min-height: 100vh;
  width: 100%;
  position: relative;
  transform-style: inherit;
}

.section1 {
  background: url(../images/abtme_bg2.png) top center;
  box-shadow: 0 0 20px #333;
  z-index: 1;
}

.section2::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  display: block;
  background: url(../images/abtme_bg3.png) top center;
  background-size: cover;
  transform: translateZ(-.5px) scale(1.6);
  z-index: -1;
}

.section3 {
  background: url(https://picsum.photos/g/1920/1080?random) top center;
  box-shadow: 0 0 20px #333;
  z-index: 1;
}

/*************************************************************
  HEADINGS
**************************************************************/
h2 {
  font-size: 4rem;
  text-align: center;
  position: absolute;
  padding: 1rem;
  background: ;
  box-shadow: ;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translateZ(-1px) scale(2) translate(-25%, -25%);
  font-family: 'Josefin Sans', sans-serif;
}

.section1 h2 {
  z-index: 3;
  transform: translate(-50%, -50%);
  box-shadow: none;
}

.section2 h2 {
  transform: translateZ(-.3px) scale(1.3) translate(-39%, -39%);
  z-index: 3;
}

/*************************************************************
  BASIC STYLES
**************************************************************/
*,
*::before,
*::after,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import 'https://fonts.googleapis.com/css?family=Overlock:400,400i,700|Oleo+Script';

html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  perspective: 1px;
  transform-style: preserve-3d;
  font-size: 62.5%;
  font-family: 'Overlock', Arial, Helvetica, sans-serif;
}

.mi_name{
  color: #C0392B;
}

h2.hd{
  text-align:  right;
  color: white;
  position: none;
  float: right;
  display: inline-block;
  font-size: 55px;
}

/*Footer*/
.cpyr{
  font-family: Trebuchet MS,Calibri,Candara;
  font-size: 15px;
  text-align: center;
  padding-top: 10px;
  cursor: context-menu; 
}

footer{
  background-color: #CCD1D1;
  margin: 0;
  padding-top: 160px;
  padding-bottom: 70px;
  min-height: 100px;
  width: 100%;
}

@media (min-width: 992px){
  #mobile_menu{
    display: none;
  }

  h2.sec1{
    display: none;
  }

  h2.sec2{
    display: none;
  }
}



@media (max-width: 991px){
  h1{
    padding-left: 120px;
    font-size: 120px;

  }

  .dropdown{
    padding-right: 120px;
    display: none;
  }

  .overlay{
    display: none;
  }

  h2.hd{
    font-size: 80px;
    text-align: center;
  }

  h2.sec1{
    color: #ffffff;
  }

  h2.sec2{
    color: #ffffff;
  }

  span.gettoknowme{
    font-family: 'Squada One', cursive;
    font-weight: lighter;
  }

  #aboutme{
    font-family: 'Overpass Mono', monospace;
    color: #fff;
    font-size: 30px;
    font-weight: lighter;
  }

  span.edu{
    font-family: 'Sansita', sans-serif;
    color: #C0392B;
  }

  span.edu1{
    font-family: 'Red Hat Text', sans-serif;
    font-size: 30px;
  }

  span.edu2{
    font-family: 'Red Hat Text', sans-serif;
    font-size: 20px;
    color: #B3B6B7;
  }

  .section1, .section2::before, .section3{
    background: black;
  }

  .main{
    min-height: 500px;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    transition-duration: 5s;
  }

  .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 0;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
 header{
  padding-top: 0;
 }
 header::before{
  background: black;
 }

 div.cpyr{
  font-size: 32px;
 }
}
